[submodule "libs/noflo"]
	path = libs/noflo
	url = https://github.com/bergie/noflo.git
[submodule "libs/dataflow"]
	path = libs/dataflow
	url = https://github.com/meemoo/dataflow.git
[submodule "demo/noflo-draggabilly"]
	path = demo/noflo-draggabilly
	url = https://github.com/d4tocchini/noflo-draggabilly.git
	branch = gh-pages
